body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    background-color: #ecf0f5;
    overflow-x: hidden;
    overflow-y: auto;
}

a {
	text-decoration: none;
}

.login-box {
	margin: 100px auto;
	width: auto;
	height: auto;
	background-color: #fff;
	width: 350px; 
}
.login-box-header {
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-transform: uppercase;
	text-align: center;
}
.login-box-body {
	width: auto;
	height: auto;
	text-align: center;
}

.login-box-body input {
	width: 300px;
	height: 30px;
	padding-left: 10px;
	margin-bottom: 15px;
}

.login-box-body button {
	width: 314px;
	height: 38px;
	background-color: #085559;
	color: #fff;
	border: none;
	margin-bottom: 30px;
}
.login-box-body button:hover {
	cursor: pointer;
	opacity: 1.2;
}

.login-error {
	width: 314px;
	height: auto;
	background-color: #f8d7da;
	color: #721c24;
	margin-left: 15px;
	border: 1px solid  #f5c6cb;
	border-radius: 5px;
	margin-bottom: 15px;
}
.login-fb {
	width: 300px;
	height: auto;
	margin: auto;
}
